html,
body {
  height: 100%;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  overflow: hidden;
}
p {
    text-align: center;
    font-size: 200px;
}
.instructor {
    text-align: center;
    font-size: 20px;
}

#inst_top {
    padding-top: 50px;
}

#inst_bottom {
    padding-bottom: 50px;
}
.content {
  width: 300px;
  height: 300px;
  text-align: center;
  font-size:50px;
}

#num1 {
  border-radius: 50px;
background: #93dcff;
box-shadow:  20px 20px 60px #7dbbd9, 
             -20px -20px 60px #a9fdff;
}

.content a {
  display: block;
  padding: 100px 0;
  text-align: center;
  font-size:50px;
  text-decoration: none;
  color:white;
}

#num2 {
border-radius: 50px;
background: linear-gradient(145deg, #6fff6f, #5ee65e);
box-shadow:  20px 20px 60px #58d958, 
             -20px -20px 60px #78ff78;
}

#num3 {
  border-radius: 50px;
background: linear-gradient(145deg, #ffd6ff, #e6b4e6);
box-shadow:  20px 20px 60px #d9aad9, 
             -20px -20px 60px #ffe6ff;background-color:pink;
}

#num4 {
  border-radius: 50px;
background: linear-gradient(145deg, #ffbd6b, #e69f5a);
box-shadow:  20px 20px 60px #d99655, 
             -20px -20px 60px #ffcc73;
}

#num2 {
  background-color:yellowgreen;
}

#num3 {
  background-color:pink;
}

#num4 {
  background-color:orange;
}

#num5 {
  width:400px;
  height:450px;
  border-radius; 70px;
  background: red;
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size:50px;
  text-decoration: none;
  color:white;
}

#num5 a {
  padding: 10px 0;
  text-align: center;
  font-size:40px;
  text-decoration: none;
  color:white;
}

#text {
  font-size:22px;
}

#text a{
  font-size:40px;
}

#number {
  font-size:100px;
}
